<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TEST_VERSION</key>
	<false/>
	<key>APP_KEY</key>
	<string>a5eb8399</string>
	<key>CHANNEL</key>
	<string>App Store</string>
</dict>
</plist>
